{% extends "base.html" %}
{% block section %}

<form action="/new" method="POST">
    {{dataForm.csrf_token}}

    {{dataForm.date.label}}
    {{dataForm.date}}
    {% if dataForm.date.errors %}
        <ul class="errors">
        {% for error in dataForm.date.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {{dataForm.concept.label}}
    {{dataForm.concept}}
    {% if dataForm.concept.errors %}
        <ul class="errors">
        {% for error in dataForm.concept.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {{dataForm.quantity.label}}
    {{dataForm.quantity}}
    {% if dataForm.quantity.errors %}
        <ul class="errors">
        {% for error in dataForm.quantity.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {{dataForm.submit}}

</form>

{% endblock %}
