{% extends "base.html" %}

{% block section %}

<h1>Previsualización</h1>
<article>
    <p><strong>Nombre: </strong>{{data[1]}}</p>
    <p><strong>Apellido: </strong>{{data[2]}}</p>
    <p><strong>Edad: </strong>{{data[3]}}</p>
    <p><strong>sexo: </strong>{{data[4]}}</p>
    <p><strong>email: </strong>{{data[5]}}</p>
    <p><strong>Telefono: </strong>{{data[6]}}</p>
    <p><strong>Fecha: </strong>{{data[7]}}</p>
    <p><strong>Concepto: </strong>{{data[8]}}</p>
    <p><strong>valor: </strong>{{data[9]}}</p>
</article>

<form action="/delete/{{data[0]}}" method="POST">
    <button type="submit" style="background-color: #d81b60;">Borrar</button>
</form>


{% endblock %}