{% extends "base.html" %}

{% block section %}

<div class="container">
    <nav>
        <ul>
          <li><strong>App Web</strong></li>
        </ul>
        <ul>
            <li><a href="/" role="button">Inicio</a></li>
          <li><a href="/new" role="button">Nuevo</a></li>
        </ul>
    </nav>
</div>

<h1>Previsualización</h1>
<article>
    <p><strong>Nombre: </strong>{{data[1]}}</p>
    <p><strong>Apellido: </strong>{{data[2]}}</p>
    <p><strong>email: </strong>{{data[3]}}</p>
    <p><strong>Telefono: </strong>{{data[4]}}</p>
    <p><strong>Pais: </strong>{{data[5]}}</p>
    <p><strong>Ciudad: </strong>{{data[6]}}</p>
    <p><strong>Cumpleaños: </strong>{{data[7]}}</p>
    <p><strong>sexo: </strong>{{data[8]}}</p>  
    <p><strong>Fecha: </strong>{{data[9]}}</p>
    <p><strong>User: </strong>{{data[10]}}</p>  
    <p><strong>Contraseña: </strong>{{data[11]}}</p>
    <p><strong>Concepto: </strong>{{data[12]}}</p>
    <p><strong>valor: </strong>{{data[13]}}</p>
</article>

<form action="/delete/{{data[0]}}" method="POST">
    <button type="submit" style="background-color: #d81b60;">Borrar</button>
</form>


{% endblock %}