{% extends "base.html" %}
{% block section %}


<h1>Perfil</h1>
    
          

          
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="{{ url_for('static', filename='upload/'+ data[12])}}" width="140" height="140"> 
      
            <h2 class="fw-normal">{{data[1] }}</h2>
            <p>{{data[13]}}</p>
            <p><a class="btn btn-secondary" href="{{perfil}}">{{data[13]}}</a></p>
          </div><!-- /.col-lg-4 -->
          <hr class="featurette-divider">
   <h1>Datos:</h1>
   <table class="table table-sm">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Pais</th>
        <th>ciudad</th>
        <th>Cumpleaños</th>
        <th>Sexo</th>    
        <th>Fecha</th>
        <th>Usuario</th>    
        <th>Contraseña</th>             
        <th>profesión</th>
        <th>Acciones</th>
        
      </tr>      
    </thead>
    <tbody>
      
        <tr>
          <td>{{data[1]}}</td>
          <td>{{data[2]}}</td>
          <td>{{data[3]}}</td>
          <td>{{data[4]}}</td>
          <td>{{data[5]}}</td>
          <td>{{data[6]}}</td>
          <td>{{data[7]}}</td>
          <td>{{data[8]}}</td> 
          <td>{{data[9]}}</td>  
          <td>{{data[10]}}</td>
          <td>{{data[11]}}</td>        
          
               
          <td>{{data[13]}}</td>
          <td>
            <a href="/update/{{data[0]}}">
              <span class="material-symbols-outlined">
                  edit
              </span>
            </a>
            <a href="/delete/{{data[0]}}">
              <span class="material-symbols-outlined">
                  delete
              </span>
            </a>

          </td>
        
        </tr>
    
    </tbody>
  </table>
   <div class="<div class="container-fluid">
    <div class="container">
      <div class ="row">
      
      <div class="col-8">
      {% block columna8 %}  

      
      <hr class="featurette-divider">
      <h1>Mi informacion</h1>
    
      <table class="table table-sm">
        <thead class="table-dark">
          <tr>
            <th>perfil</th>
            <th>servicios</th>           
            <th>valor</th>        
           
            <th>CV</th>       
            
          </tr>      
        </thead>
        <tbody>
          
            <tr>
              <td>{{data[1]}}</td>
              <td></td>             
              <td></td>           
                    
           
              <td></td>          
             
            </tr>
          
        </tbody>
      </table>
      {% endblock %}
      </div>
      <div class="col-4">
        {% block columna4 %}
        <hr class="featurette-divider">
          <h1>Perfil Modelo</h1>
          <p>Quedara un perfil parecido al siguiente pero con los datos y servicios de cada profesional:</p>
          <a href="{{ url_for('pswe') }}">ejemplo</a>
        {% endblock %}


       </div>
      </div>
     </div>
    </div>"
 
   
<div class="row">
  <div class="col-md-5">
    <div class="card-body">
      <form action="/add_contact" method="POST">
        <input type="text" name="servicio" placeholder="servicio">
        <input type="text" name="valor" placeholder="valor">
        <input type="text" name="caracteristica" placeholder="caracteristica">    
        <button type="submit">Agregar</button>

      </form>

    </div>
  </div>
  <div class="col-md-7">
    <div class="card-body">
      
      
    </div>
  </div>

</div>



{% endblock %}