<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  
</head>
<body>
  <section>
    <div class="container">
      <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="{{ url_for('josu') }}">About</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="{{ url_for('index') }}">Home</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="link-secondary" href="#" aria-label="بحث">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>josu</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('login') }}">Login</a>
          </div>
        </div>
      </header>
      
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" src="{{ url_for('home') }}">Home</a>
          <a class="p-2 link-secondary" href="{{ url_for('index') }}">1</a>
          <a class="p-2 link-secondary" href="{{ url_for('registro') }}">2</a>
          <a class="p-2 link-secondary" href="{{ url_for('home') }}">3</a>
          <a class="p-2 link-secondary" href="#">4</a>
          <a class="p-2 link-secondary" href="#"> 5</a>
          <a class="p-2 link-secondary" href="#">6</a>
          <a class="p-2 link-secondary" href="#">7 </a>
          <a class="p-2 link-secondary" href="#">8</a>
          <a class="p-2 link-secondary" href="#">9</a>
          <a class="p-2 link-secondary" href="#">10</a>
          <a class="p-2 link-secondary" href="#">11</a>
        </nav>
      </div>
    </div>

    <main class="container">
      <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">App Flask.py</h1>
          <p class="lead my-3">Aplicación web de servicios médicos</p>
          <p class="lead mb-0"><a href="{{ url_for('home') }}" class="text-white fw-bold">Más Información...</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Dr. Josué Valverde</strong>
              <h3 class="mb-0">Médico Cirujano</h3>
              <div class="mb-1 text-muted">Mayo 12</div>
              <p class="card-text mb-auto">Con más de 35 años de experiencia internacional en médicina general y cirugía plástiva.</p>
              <a href="{{ url_for('java') }}" class="stretched-link">Más</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">dr</text></svg>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Lic. Ps. Swelyn Valverde</strong>
              <h3 class="mb-0">Psicóloga</h3>
              <div class="mb-1 text-muted">17 mayo</div>
              <p class="mb-auto">Con más de 10 años de experiencia en terapia y especialista en Psicología Clínica Infanto-Juvenil.</p>
              <a href="{{ url_for('swe') }}" class="stretched-link">Más</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">swe</text></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Profesionales
          </h3>

          <article class="blog-post">
            <h2 class="blog-post-title mb-1">El uso completo requiere registro previo</h2>
            <p class="blog-post-meta">19 de Mayo, 2023 <a href="#"> XaRrUa </a></p>

            <p>Por fines de privacidad y protección de datos, para el uso total de esta aplicación requiere registro, con el fin de tener acceso a la agenda y contacto adecuado de los profesionales.</p>
            <hr>
            <p>Esta web ha sido desarrollada con el fin de juntar profesionales de calidad y experiencia internacional para trabajar en conjunto para el bienestar de la población en general y sin fronteras.</p>
            <blockquote>
              <p>App desarrollada con Python, Flask, html, css y js para presentacion de proyecto final de KeepCoding.</p>
            </blockquote>
            <p>mas.</p>
            <h2>subtitulo</h2>
            <p>parrafo</p>
            <h3>عنوان فرعي</h3>
            <p>ألهمت هذه العملية علماء وكالة الفضاء الأمريكية (ناسا) خلال الستينيات من القرن الماضي، لبحث فكرة إطعام روَّاد الفضاء في مهمات الفضاء الطويلة مثل السفر إلى المريخ. وكانت واحدة من الأفكار الواعدة تصنيع الغذاء عن طريق ثاني أكسيد الكربون الذي ينتجه روَّاد الفضاء، لكن ليس بواسطة النباتات بل عن طريق ميكروبات صغيرة وحيدة الخلية قادرة على حصد ثاني أكسيد الكربون لإنتاج كميات وفيرة من البروتين المغذي على شكل مسحوق عديم النكهة، كما يمكن استخدام المادة في صنع الأطعمة المألوفة لدينا.</p>
            <pre><code>Example code block</code></pre>
            <p>وخلافاً لما هو الحال في عالم النبات، فإن هذه الميكروبات لا تستخدم الضوء كما يحدث في عملية البناء الضوئي التي تستخدمها النباتات للحصول على الغذاء، أي لأنها قادرة على النمو في الظلام. تسمى هذه البكتريا "هيدروجينوتروف" (Hydrogenotrophs)، وهي تستخدم الهيدروجين كوقود لإنتاج الغذاء من ثاني أكسيد الكربون. فعندما يُنتج روَّاد الفضاء ثاني أكسيد الكربون، تلتقطه الميكروبات، ويتحوَّل مع مدخلات أخرى إلى غذاء غني بالكربون. وبهذه الطريقة سوف نحصل على دورة كربون مغلقة الحلقة.</p>
            <h3>عنوان فرعي</h3>
            <p>بعد مرور أكثر من نصف قرن على أبحاث ناسا، تعمل حالياً عدة شركات في قطاع البيولوجيا التركيبية من ضمنها إير بروتين (Air Protein) وسولار فودز (Solar Foods) على تطوير جيل جديد من المنتجات الغذائية المستدامة، من دون وجود بصمة كربونية. ولن تقتصر هذه المنتجات الغذائية على روَّاد الفضاء فحسب، بل سوف تمتد لتشمل جميع سكان الأرض، وسوف تُنتَج في فترة زمنية قصيرة، بدلاً من الشهور، ومن دون الاعتماد على الأراضي الزراعية. وهذا يعني الحصول على منتجات غذائية بشكل سريع جداً. كما سيصبح من الممكن تصنيع الغذاء بطريقة عمودية من خلال هذه الميكروبات، بدلاً من الطريقة الأفقية التقليدية الشبيهة بتقنية الزراعة العمودية الحديثة. وهذا يعني توفير منتجات غذائية أكبر من المساحة نفسها.</p>
            <p>يتكوَّن الغذاء البشري من ثلاثة أنواع رئيسة، هي:</p>
            <ul>
              <li>البروتينات</li>
              <li>الكربوهيدرات</li>
              <li>الدهون</li>
            </ul>
            <p>وتتكوَّن البروتينات من الأحماض الأمينية، وهي مجموعة من المركبات العضوية يبلغ عددها في جسم الإنسان عشرين حمضاً أمينياً، من بينها تسعة أساسية يحصل عليها الجسم من الغذاء. وتتكوَّن الأحماض الأمينية بشكل أساس من:</p>
            <ol>
              <li>الكربون</li>
              <li>الهيدروجين</li>
              <li>الأكسجين</li>
              <li>النيتروجين</li>
            </ol>
            <p>ومن الملاحظ أن النيتروجين يشكِّل نسبة %78 من الهواء، كما أن الهيدروجين نحصل عليه من خلال التحليل الكهربائي للماء، ومن الممكن نظرياً سحب الكربون من الهواء لتشكيل هذه الأحماض، ذلك أن الكربون هو العمود الفقري للأحماض الأمينية، كما أن الحياة على كوكب الأرض قائمة على الكربون لقدرته على تكوين سلاسل كربونية طويلة، وهذا ما تفعله الميكروبات بتصنيع أحماض أمينية من ثاني أكسيد الكربون من خلال مجموعة من التفاعلات الكيميائية المعقَّدة. وإضافة إلى صنع وجبات غنية بالبروتين، فهذه الميكروبات تنتج منتجات أخرى مثل الزيوت التي لها عديد من الاستخدامات.</p>
          </article>

          <article class="blog-post">
            <h2 class="blog-post-title mb-1">تدوينة أخرى</h2>
            <p class="blog-post-meta">23 ديسمبر 2020 بواسطة <a href="#">Jacob</a></p>

            <p>في الوقت الحالي، تدرس عدَّة شركات هذه الميكروبات بشكل أعمق، وتستزرعها من أجل الحصول على الغذاء. ففي عام 2019م، أعلن باحثون في شركة (Air Protein) الأمريكية نجاحهم في تحويل ثاني أكسيد الكربون الموجود في الهواء إلى لحوم صناعية مصنوعة من البروتين، التي لا تتطلَّب أي أرض زراعية، بل هي معتمدة بشكل أساسي على الهواء.</p>
            <blockquote>
              <p>تم تصنيع اللحوم بأنواع عديدة</p>
            </blockquote>
            <p>إذ استخدم هؤلاء الباحثون الهواء والطاقة المتجدِّدة كمدخلات في عملية مشابهة للتخمير، لإنتاج بروتين يحتوي على الأحماض الأمينية التسعة الأساسية وغني بالفيتامينات والمعادن، كما أنه خالٍ من الهرمونات والمضادات الحيوية والمبيدات الحشرية ومبيدات الأعشاب.</p>
            <p> وتم تصنيع اللحوم بأنواع عديدة بما فيها الدواجن والأبقار والمأكولات البحرية، من دون حصول انبعاثات كربونية، على عكس تربية الأبقار التي تسهم في انبعاث غاز الميثان أحد غازات الاحتباس الحراري.</p>
          </article>

          <article class="blog-post">
            <h2 class="blog-post-title mb-1">Articulo</h2>
            <p class="blog-post-meta">14 دfecha: 2020  <a href="#">Autor</a></p>

            <p>كما أن الشركة الفنلندية (Solar Foods) طوَّرت تقنية لإنتاج البروتين من الهواء، حيث تبدأ العملية بتقسيم الماء إلى مكوناته الهيدروجين والأكسجين عن طريق الكهرباء. فالهيدروجين يوفِّر الطاقة للبكتريا لتحويل ثاني أكسيد الكربون والنيتروجين الموجودين في الهواء إلى مادة عضوية غنية بالبروتين بشكل أكفأ من نمو النباتات باستخدام البناء الضوئي. وهذا البروتين يشبه دقيق القمح وقد أطلق عليه اسم "سولين" (Solein).</p>
            <p>وتقوم الشركة حالياً بجمع البيانات حول المنتج الغذائي لتقديمه إلى الاتحاد الأوروبي بهدف الحصول على ترخيص غذائي، كما أنها تخطط لبدء الإنتاج التجاري في العام المقبل 2021م. وقد أوضحت الشركة أنها مهتمة بإنتاج أطعمة صديقة للبيئة من خلال استخدام المواد الأساسية: الكهرباء وثاني أكسيد الكربون، وهذه الأطعمة سوف تجنبنا الأثر السلبي البيئي للزراعة التقليدية الذي يشمل كل شيء من استخدام الأرض والمياه إلى الانبعاثات الناتجة من تسميد المحاصيل أو تربية الحيوانات.</p>
            <p>وعلى هذا، فإن البروتينات المشتقة من الميكروبات سوف:</p>
            <ul>
              <li>توفر حلاً ممكناً في ظل زيادة الطلب العالمي المستقبلي على الغذاء</li>
              <li>تتوسع مصانع الغذاء في المستقبل لتكون أكفأ وأكثر استدامة</li>
              <li>تصبح قادرة على توفير الغذاء لروَّاد الفضاء في سفرهم إلى المريخ وجميع سكان كوكب الأرض في عام 2050م</li>
            </ul>
            <p>فتخيّل أن الميكروبات ستكون مصانع المستقبل، وأن غذاء المستقبل سيكون مصنوعاً من الهواء! وأن عام 2050م سيكون مختلفاً تماماً عن عالمنا اليوم. فهو عالم من دون زراعة ولا تربية حيوانات من أجل الغذاء! قد يبدو ذلك خيالياً لكنه ليس مستحيلاً!</p>
          </article>

          <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Mas</a>
            <a class="btn btn-outline-secondary rounded-pill disabled">Otros</a>
          </nav>

        </div>

        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic">Proyecto Final</h4>
              <p class="mb-0">Esta App fue desarrollada durante el proyecto final del curso de programación con Python+Flask y HTML, CSS, JS, con la finalidad de utilizar todo lo aprendendio y desarrollar una aplicación de indole profesional para uso colectivo.</p>
            </div>

            <div class="p-4">
              <h4 class="fst-italic">Proyectos</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="{{ url_for('registro') }}">م2023 Registro de Contacto</a></li>
                <li><a href="{{ url_for('registro') }}">2022, App-Tabla</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2022</a></li>

     
              </ol>
            </div>

            <div class="p-4">
              <h4 class="fst-italic">Contacto</h4>
              <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    <!-- 2-->

    </main>

  </section>
 
  <footer class="blog-footer">
    <p>&copy; 2024 XaRrUaـ <a href="https://getbootstrap.com/">Bootstrap</a> referencias <a href="https://twitter.com/mdo"><bdi lang="en" dir="ltr">@mdo</bdi></a>.</p>
    <p>
      <a href="#">otros</a>
    </p>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>