{% extends "base.html" %}
{% block section %}

 
{% block loginCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}


  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form class="form-sinin" action="/login" method="POST">
      
        <img class="mb-4" src="{{ url_for('static', filename='img/s.gif')}}" height="100px" width="100px" >
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        
        <div class="form-floating">
            <input type="text" name="username" class="form-control" placeholder="Usuario">
            <label for="username">User</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
        <br>
        <p>¿No tienes usuario?</p>
        <a href="{{ url_for('create') }}">Registrar</a><br>
 
     
    </form>
    </main>
      

{% endblock %}