<!DOCTYPE html><html><head><meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1">
  <meta name=google-site-verification content=BcpjrOFj0gwXXphKfh7G0xbxag8P9NLp_RpuVPNBZZc>
  <link href=https://web.bewe.co/static/css/app.cecaa6c3eb8611d9dedba00f73d250e3.css rel=stylesheet>
</head>
<body>
  <div id=app></div>
   <!--<script src=https://web.bewe.co/widget/bewidget.js></script>-->
  <script type=text/javascript src=https://web.bewe.co/static/js/manifest.ec13327cd4c277535d88.js></script>
  <script type=text/javascript src=https://web.bewe.co/static/js/vendor.281f9f44e2726246921d.js></script>
 <script type=text/javascript src=https://web.bewe.co/static/js/app.de48b2932faf0f66b9e8.js></script>
</body></html>
