{% extends "base.html" %}

{% block section %}


<div class="container">
    
  <h2><strong>App Web</strong></h2>
      
</div>

<h1>Información Usuarios<a href="{{ url_for('create') }}"><span class="material-symbols-outlined">
    person_add
    </span>
    
    </span>
</a></h1>

<table class="table table-sm">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <div class="row">
        <div class="col-lg-4">
          <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" img src="{{ url_for('static', filename='img/java.jpg')}}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          <img class="bd-placeholder-img rounded-circle" src="{{ url_for('static', filename='img/java.jpg')}}" width="140" height="140">
          <h2 class="fw-normal">></h2>
          
          <p></p>
          <p><a class="btn btn-secondary" href="{{ url_for('pjava') }}">más</a></p>
        </div><!-- /.col-lg-4 -->
      
    </tr>      
  </thead>
  <tbody>
    {% for item in data %}
      <tr>
        <td>{{item.usu_name}}</td>
        <td>{{item.usu_lastname}}</td>
        <td>{{item.usu_email}}</td>
        <td>{{item.usu_phone}}</td>
        <div class="row">
          <div class="col-lg-4">
            <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" img src="{{ url_for('static', filename='img/java.jpg')}}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
            <img class="bd-placeholder-img rounded-circle" src="{{ url_for('static', filename='img/java.jpg')}}" width="140" height="140">
            <h2 class="fw-normal">>{{item.usu_name}}</h2>
            
            <p>{{item.usu_lastname}}</p>
            <p><a class="btn btn-secondary" href="{{ url_for('pjava') }}">más</a></p>
          </div><!-- /.col-lg-4 -->
        <td>
          <a href="/update/{{item.usu_id}}">
            <span class="material-symbols-outlined">
                edit
            </span>
          </a>
          <a href="/delete/{{item.usu_id}}">
            <span class="material-symbols-outlined">
                delete
            </span>
          </a>

        </td>
       
      </tr>
    {% endfor %}
  </tbody>
</table>



  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" src="{{ url_for('static', filename='img/swe.jpg')}}" width="140" height="140"> 

    <h2 class="fw-normal">Psicóloga</h2>
    <p>Psicóloga clínica especialista en Infanto-juvenil.</p>
    <p><a class="btn btn-secondary" href="{{ url_for('pswe') }}">Más</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" src="{{ url_for('static', filename='img/josu.jpg')}}" width="140" height="140"> 

    <h2 class="fw-normal">Fisioterapeuta</h2>
    <p>Especialista en terapia intensiva, rehabilitación física y Respiratoria en deportes y danza.</p>
    <p><a class="btn btn-secondary" href="#">Más</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

{% endblock %}
          

