{% extends "base.html" %}

{% block section %}


<div class="container">
    

      
</div>

<h1>Información Usuarios<a href="{{ url_for('create') }}"><span class="material-symbols-outlined">
    person_add
    </span>
    
    </span>
</a></h1>

<table class="table table-sm">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Pais</th>
      <th>ciudad</th>
      <th>Cumpleaños</th>
      <th>Sexo</th>    
      <th>Fecha</th>
      <th>Usuario</th>    
      <th>Contraseña</th>
        
      <th>foto</th>  
      <th>profesión</th>
      <th>Acciones</th>
      
    </tr>      
  </thead>
  <tbody>
    {% for item in data %}
      <tr>
        <td>{{item.usu_name}}</td>
        <td>{{item.usu_lastname}}</td>
        <td>{{item.usu_email}}</td>
        <td>{{item.usu_phone}}</td>
        <td>{{item.usu_country}}</td>
        <td>{{item.usu_city}}</td>
        <td>{{item.usu_birthd}}</td>
        <td>{{item.usu_sex}}</td> 
        <td>{{item.usu_date}}</td>  
        <td>{{item.usu_user}}</td>
        <td>{{item.usu_pass}}</td>        
        
        <td>{{item.usu_foto}}</td>        
        <td>{{item.usu_profession}}</td>
        <td>
          <a href="/update/{{item.usu_id}}">
            <span class="material-symbols-outlined">
                edit
            </span>
          </a>
          <a href="/delete/{{item.usu_id}}">
            <span class="material-symbols-outlined">
                delete
            </span>
          </a>

        </td>
       
      </tr>
    {% endfor %}
  </tbody>
</table>
 

{% endblock %}