{% extends "layout.html" %}

{% block section %}

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" src="{{ url_for('static', filename='upload/'+ data[12])}}" width="140" height="140"> 

      <h2 class="fw-normal">{{data[1] +  data[2]}}</h2>
      <p>{{profesion}}</p>    
    </div><!-- /.col-lg-4 -->   

    <div class="align-self-center"><h2>Servicios</h2>
 <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
    <div class="card text-center mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{Sesión}}</h5>
        <img src="{{ url_for('static', filename='img/notebook.png')}}" alt="pc" height="80px" width="80px">
        <p class="card-text">{{resu}}</p>
        <a href="{{ url_for('payment') }}" class="btn btn-primary">{{valor}}</a>
      </div>
    </div>
    <div class="card text-center mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{what}}</h5>
        <img src="{{ url_for('static', filename='img/IMC.png')}}" alt="pc" height="60px" width="80px">
        <p class="card-text">{{resu}}p>
        <a href="{{ url_for('payment') }}" class="btn btn-primary">{{valor2}}</a>
      </div>
    </div>
    
      <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{what}}/h5>
          <img src="{{ url_for('static', filename='img/notebook.png')}}" alt="pc" height="60px" width="80px">
          <p class="card-text">{{tiempo}}</p>
          <a href="{{ url_for('payment') }}" class="btn btn-primary">{{valor}}</a>
        </div>
      </div>
    </div>

    <div class="align-self-center"><h2>{{ServiciosPresenciales}}</h2>
      <!-- /END THE FEATURETTES -->
     
         </div>
    <div class="card text-center mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{Consulta}}</h5>
        <img src="{{ url_for('static', filename='img/home.png')}}" alt="pc" height="80px" width="80px">
        <p class="card-text">{{tiempo}}</p>
        <a href="{{ url_for('payment') }}" class="btn btn-primary">{{valor}}</a>
      </div>
      
    </div>

    
    <h2>Horarios: </h2>
    <p><strong>Domingo: </strong>11:00-12:00 hrs</p>
    <p><strong>Lunes:    </strong>    9:00-20:00 hrs</p>
    <p><strong>Martes: </strong>9:00-20:00 hrs</p>
    <p><strong>Miercoes: </strong>9:00-20:00 hrs</p>
    <p><strong>Jueves: </strong>9:00-20:00 hrs</p>
    <p><strong>Viernes:</strong>9:00-20:00 hrs</p>
    <p><strong>Sábado: </strong>cerrado</p>
   


   </div>


{% endblock %}