{% extends "base.html" %}
{% block section %}

<div class="container">
    <nav>
   <h1><strong>Editar</strong></h1>
       
  

<form action="/update/{{usu_idform}}" method="POST" enctype="multipart/form-data">
    {{dataForm.csrf_token}}

    <div class="mb-3">
    {{dataForm.usu_name.label(class="form-label")}}
    {{dataForm.usu_name(class="form-control")}}
    {% if dataForm.usu_name.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_name.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}{{dataForm.usu_date.label}}
    </div>

    <div class="mb-3">
    {{dataForm.usu_lastname.label(class="form-label")}}
    {{dataForm.usu_lastname(class="form-control")}}
    {% if dataForm.usu_lastname.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_lastname.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-3">
    {{dataForm.usu_email.label(class="form-label")}}
    {{dataForm.usu_email(class="form-control")}}
    {% if dataForm.usu_email.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_email.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-3">
    {{dataForm.usu_phone.label(class="form-label")}}
    {{dataForm.usu_phone(class="form-control")}}
    {% if dataForm.usu_phone.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_phone.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-3">
    {{dataForm.usu_country.label(class="form-label")}}
    {{dataForm.usu_country(class="form-control")}}
    {% if dataForm.usu_country.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_country.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-3">
    {{dataForm.usu_city.label(class="form-label")}}
    {{dataForm.usu_city(class="form-control")}}
    {% if dataForm.usu_city.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_city.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-3">
    {{dataForm.usu_birthd.label(class="form-label")}}
    {{dataForm.usu_birthd(class="form-control")}}
    {% if dataForm.usu_birthd.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_birthd.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-3">
    <label for="usu_sex">sexo: </label>
    <!--{{dataForm.usu_sex.label(class="form-label")}}-->
        <select class="form-control" name="usu_sex" id="usu_sex">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
        </select>
    <!--{{dataForm.usu_sex(class="form-control")}}-->
    {% if dataForm.usu_sex.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_sex.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
      
    <div class="mb-3">
    {{dataForm.usu_date.label(class="form-label")}}
    {{dataForm.usu_date(class="form-control")}}
    {% if dataForm.usu_date.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_date.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-3">
    {{dataForm.usu_user.label(class="form-label")}}
    {{dataForm.usu_user(class="form-control")}}
    {% if dataForm.usu_user.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_user.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-3">
    {{dataForm.usu_pass.label(class="form-label")}}
    <input class="form-control" type="password" name="usu_pass" placeholder="Contraseña" required><br>
    
    <!--<input class="form-control" type="password" name="confirm_usu_pass" placeholder="Confirmar Contraseña" required><br>-->
    {% if dataForm.usu_pass.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_pass.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>


   

    <div class="mb-3">    
        {{dataForm.usu_foto.label(class="form-label")}}  
       
        <input type="file" name="foto" placeholder="adjuntefoto" accept="image/*">      
        {% if dataForm.usu_foto.errors %}
            <ul class="errors">
            {% for error in dataForm.usu_foto.errors %}
                <li class="form-text">{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
   

    <div class="mb-3">
    {{dataForm.usu_profession.label(class="form-label")}}
    {{dataForm.usu_profession(class="form-control")}}
    {% if dataForm.usu_profession.errors %}
        <ul class="errors">
        {% for error in dataForm.usu_profession.errors %}
            <li class="form-text">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    {{dataForm.submit}}

</form>

{% endblock %}