{% extends "layout.html" %}
{% block section %}

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">


    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Swelyn Valverde Bello <span class="text-muted">Psicologa </span></h2>
        <p class="lead">Sobre mi: Deseo acompañarte en tu proceso de mirarte a través de tu pasado con el propósito de sanar a tu niño interior, permitiendo reescribir tu historia, ya no desde el dolor, sino desde la libertad de soltar aquello que nos impide avanzar y alcanzar la plenitud en Cristo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="{{ url_for('static', filename='img/swe.jpg')}}" width="400" height="400">
  
      </div>
    </div>

    <div class="redes">
      <a href="https://www.linkedin.com/in/swelyn-lorieann-valverde-bello-0a112b98/"><img src="../static/img/in.png" height="20" width="30"></a>
      <a href="#"><img src="../static/img/fb.png" height="20" width="30"></a>
      <a href="#/"><img src="../static/img/ig.jpg" height="20" width="30"></a>
      <a href="#"><img src="../static/img/mail1.png" height="20" width="30"></a>
      <a href="#"><img src="../static/img/whatsapp.png" height="20" width="30"></a>
      <br>
      <br>
    
      <a href="https://app.psyson.org/swelyn-valverde-bello"><span class="material-symbols-outlined" height="60" width="60">calendar_month</span></a>
    </div>
 
    <hr class="featurette-divider">

    </div>
   




 





{% endblock %}
