{% extends "personal/pbase.html" %}
{% block section %}

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">


    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Swelyn Valverde Bello <span class="text-muted">Psicologa clínica Infanto Juvenil </span></h2>
        <p class="lead">Con mas de 10 años de experiencia en terapia....</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="{{ url_for('static', filename='img/swe.jpg')}}" width="500" height="500">
  
      </div>
    </div>
    <hr class="featurette-divider">

    </div>
   




 





{% endblock %}
