{% extends "personal/pbase.html" %}
{% block section %}

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" src="{{ url_for('static', filename='img/swe.jpg')}}" width="140" height="140"> 

      <h2 class="fw-normal">Swelyn Valverde</h2>
      <p>Psicóloga clínica especialista en Infanto-juvenil.</p>    
    </div><!-- /.col-lg-4 -->   

    <div class="align-self-center"><h2>Servicios Web</h2>
 <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
    <div class="card text-center mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Sesión</h5>
        <img src="{{ url_for('static', filename='img/notebook.png')}}" alt="pc" height="80px" width="80px">
        <p class="card-text">45 min de sesión.</p>
        <a href="{{ url_for('payment') }}" class="btn btn-primary">35-50 US</a>
      </div>
    </div>
    <div class="card text-center mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Psicodiagnóstico</h5>
        <img src="{{ url_for('static', filename='img/IMC.png')}}" alt="pc" height="60px" width="80px">
        <p class="card-text">4 sesiones de 45 min</p>
        <a href="{{ url_for('payment') }}" class="btn btn-primary">140 US</a>
      </div>
    </div>
    
      <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">MDR</h5>
          <img src="{{ url_for('static', filename='img/notebook.png')}}" alt="pc" height="60px" width="80px">
          <p class="card-text">50 min</p>
          <a href="{{ url_for('payment') }}" class="btn btn-primary">50 U$S</a>
        </div>
      </div>
    </div>

    <div class="align-self-center"><h2>Servicios Presenciales</h2>
      <!-- /END THE FEATURETTES -->
     
         </div>
    <div class="card text-center mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Consulta</h5>
        <img src="{{ url_for('static', filename='img/home.png')}}" alt="pc" height="80px" width="80px">
        <p class="card-text">45 min</p>
        <a href="{{ url_for('payment') }}" class="btn btn-primary">30 U$S</a>
      </div>
      
    </div>

    
    <h2>Horarios: </h2>
    <p><strong>Domingo: </strong>11:00-12:00 hrs</p>
    <p><strong>Lunes:    </strong>    9:00-20:00 hrs</p>
    <p><strong>Martes: </strong>9:00-20:00 hrs</p>
    <p><strong>Miercoes: </strong>9:00-20:00 hrs</p>
    <p><strong>Jueves: </strong>9:00-20:00 hrs</p>
    <p><strong>Viernes:</strong>9:00-20:00 hrs</p>
    <p><strong>Sábado: </strong>cerrado</p>
   


   </div>



{% endblock %}
